.row{
    flex-direction: column;
    height: 90vh;
    min-height: 700px;
}
.register-panel-form{
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.register-panel-title{
    color: #fe5355;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.register-divider{
    margin-top: 5px;
    width: 200px;
    background-color: #fe5355;
    height: 1px;
}

.register-form-container{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.existing-acc-text{
    color: #777;
}

.register-btn{
    width: 100%;
    background-color: #fe5355;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 50px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #fc6769;
}

.register-panel-img{
    background-image: url("../LoginPage/audience.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.register-success{
    margin-left: 20px;
    margin-top: 2rem;
    height: 90vh;
    min-height: 700px;
}

@media(min-width: 992px){
    .row{
        flex-direction: row;
    }
    .register-panel-img{
        display: block;
        flex: 1;
    }
    .register-form-container{
        margin-top: auto;
        margin-bottom: auto;
    }
}
