.discover-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discover-heading{
    color: #333333;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.container-discover-events{
    width: 100%;
}

.event-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}