body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container-lg{
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel-center{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.front-page{
  background-image: url("audience-home.png");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

.content{
  min-height: 80vh;
}

@media(min-width: 992px){
  .container-lg{
    padding: 0 70px;
  }
}

@media(min-width: 1300px){
  .container-lg{
    padding: 0 150px;
  }
}
