body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container-lg{
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel-center{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  min-height: 600px;
}

.front-page{
  background-image: url("audience-home.png");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

.content{
  min-height: 80vh;
}

.feed-create-btns{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.create-btn{
  background-color: #fe5355;
  color: #fff;
  border: 0;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.create-btn:hover{
  color: #fff;
  background-color: #fc686b;
  text-decoration: none;
}

.discover-events-container{
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.scrolling-wrapper{
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper a{
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}


@media(min-width: 992px){
  .container-lg{
    padding: 0 70px;
  }
}

@media(min-width: 1300px){
  .container-lg{
    padding: 0 150px;
  }
}
