.story-stepper-img{
    object-fit: cover;
    height: 600px;
    width: 100%;
    max-height: 600px;
    max-width: 600px;
}

.story-stepper-navigation{
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 0;
    
}

.stepper-arrow{
    margin-left: 0.25rem;
    height: 20px;
    width: 20px;
}