/* Custom Button Styles */
.sign-up-btn{
    background-color: transparent;
    color: #fe5355;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid #fe5355;
    padding: 0.4rem 1.2rem;
    max-width: 150px;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.sign-up-btn:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #fe5355;
}