.event-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-container{
    padding-right: 16px;
    padding-bottom: 16px;
}

.add-event-btn{
    width: 120px !important;
}