.profile_img-header{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
}

.profile-container{
    display: flex;
    margin-left: 0;
}

.profile_img-header{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
} 

.logged-in-nav{
    display: inline-block;
}

@media(min-width: 992px){
    .profile_img-header{
        display: block;
    } 
    .profile-container{
        margin-left: 1.2rem;
    }
    .create-story-btn{
        display: inline-block;
    }
    .create-story-link{
        display: none;
    }
    .logged-in-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}